.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
body{
    font-size: 18px;
    font-family: Helvetica,Arial, sans-serif
}
.highlight pre{ 
    white-space: pre-wrap;
    overflow: auto;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0em 0em !important;
    border: 1px solid #CCC !important;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #CCC;
    border-bottom-color: #CCC;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    position: static
}

  .tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-style: solid solid none solid;
    border-width: thin;
    border-color: #CCC;
    /*border-style: solid;
    border-color: #000000;*/
    margin-bottom: 10px;
    }
    
.tabbed-set .highlight {
    background: #ddffdd;
}

.tabbed-set .superfences-content {
    display: none;
    order: 99;
    width: 100%;
    margin-bottom: -14px;
  }
.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
    margin-bottom: -15px;
}
    
.tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 100%;
    margin-bottom: -10px;
    cursor: pointer;
}
    
.tabbed-set input {
    position: absolute;
    opacity: 0;
}
    
tr:hover {background-color: #f5f5f5;}

  .tabbed-set input:nth-child(n+1) {
      color: #333333;
  }
    
  .tabbed-set input:nth-child(n+1):checked + label {
        color: #FF5252;
  }
    
  .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
        display: block;
  }

  code {
    font-size: 18px !important;
    line-height: 100%;
}

th {
  background-color: #e8e6e6;
  color: black;
}

td {
  padding: 30px;
  text-align: left;
}


img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}


.admonition.announcement{
    padding: 12px;
    margin: -12px -12px 0px -12px;
    background-color: rgba(98, 0, 234, .1);
}
.admonition.announcement .admonition-title{
    border-bottom: .1rem solid rgba(98, 0, 234, .1);
    background-color: #6200ea;
}

.admonition.announcement .admonition-title:before{
    content: "\f0a1";
    font-family: 'FontAwesome';
}


p {
    font-size: 100%;
}

li {
    font-size: 100%;
}



.others tbody { 
    font-size: 70%;
}
    
.others td {
    font-family: sans-serif;
    font-size: 100%;
    padding:0 15px;
    line-height: 150%;
}
.others tr:nth-child() {
    background-color: #f2f2f2;
}

table tbody { 
    font-size: 100%;
}

table th {
    font-size: 100%;
}

table td {
    font-family: sans-serif;
    font-size: 100%;
    padding:0 15px;
    line-height: 150%;
}
table tr:nth-child() {
    background-color: #f2f2f2;
}
table{
    display: block;
    overflow: auto;
}
.tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-style: solid solid none solid;
    border-width: thin;
    border-color: #CCC;
    /*border-style: solid;
    border-color: #000000;*/
    margin-bottom: 10px;
}

.tabbed-set .highlight {
    background: #ddd;
}
  
.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
    margin-bottom: -24px
}

.tabbed-set .superfences-content {
    display: none;
    order: 99;
    width: 100%;
    margin-bottom: -14px;
}  

.tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 100%;
    cursor: pointer;
}
  
.tabbed-set input {
    position: absolute;
    opacity: 0;
}
  
.tabbed-set input:nth-child(n+1) {
    color: #333333;
}
  
.tabbed-set input:nth-child(n+1):checked + label {
      color: #FF5252;
}
  
.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
      display: block;
}
  

details > summary{
    font-size: 100%
}

.note p.admonition-title{
    color: white !important;
    background: #555599 !important;
}

.admonition.note {
    background: #F0F0FF !important;
}

.admonition.warning {
    background: #FFEEEE !important;
}

.warning p.admonition-title {
    color: white !important;
    background: #FF6666 !important;
}
